$light-background-color: #fff;
$light-text-color: #000;
$dark-background-color: #333;
$dark-text-color: #fff;
*{
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.marg{
  height: 50%;
}

.light {
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
}

.dark {
  --background-color: #{$dark-background-color};
  --text-color: #{$dark-text-color};
}

.app {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  
}

.navbar {
  background-color: #eee;
  padding: 20px;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    Link {
      text-decoration: none;
      color: #000;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    button {
      cursor: pointer;
    }
  }
}

.home, .profile {
  padding: 20px;
}
